<div class="input">
    <input ng-model="child.noun"><p>Name</p></input>
</div>
<div class="input">
    <input ng-model="child.verb"><p>Emotion</p></input>
</div>
<button ng-click='child.showSwitch();'>RUN</button>
<h3 ng-show="child.showStr" style="border-bottom: solid 1px lightgreen">Agent {{child.tempnoun}} felt very {{child.tempverb}} after the attack on {{child.tempnoun}}'s partner</h3>
<h3 ng-show="child.showError" style="border-bottom: solid 1px lightgreen">You cannot have a blank field</h3>
<button ng-click='child.getRandom();'>Try a different one!</button>