alembic==1.18.1
boto3==1.42.33
botocore==1.42.33
passlib==1.7.4
pyramid==2.0.2
Requests==2.32.5
setuptools==80.10.1
SQLAlchemy==2.0.46
pyramid_tm==2.6
supervisor==4.3.0
transaction==5.0
zope==5.13
zope.SQLAlchemy==4.1
gunicorn==23.0.0