<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
<script src="/project5/static/app.js"></script>
<html ng-app="mainApp">
    <head>
        <link type="image/x-icon" href="/Metroid.ico"/>
        <title>Chatbox</title>
        <link type="text/css" rel="stylesheet" href="/project5/static/stylesheet.css"/>
    </head>
    <body>
        <username-box></username-box> 
    </body>
</html>